*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    padding: 10px;
    height : 5rem;
    background-color : #bdbebe;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

header ul a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #0083C1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #0083C1;
    margin-top: 50px;
}

table {
    margin: 45px auto 0 auto;
    padding: 5px 10px;
}

thead {
    background-color: #0083C1;
    color: #fff;
}

td{
    padding: 5px 10px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100vh;
}

form {
    width: 50%;
    margin: 45px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

.form-control label {
    font-size: 1.4rem;
}

.form-control input,.form-control select {
    font-size: 1.2rem;
}

.form-control button {
    padding: 10px 0;
    background-color: #0083C1;
    color: #fff;
    font-size: 1.4rem;
    border: none;
}

form .errors {
    width: 100%;
}

form p {
    display: block;
    color : red;
    font-size: 1.4rem;
    text-align: center;
}
